Source: wicd
Section: net
Priority: optional
Maintainer: David Paleino <dapal@debian.org>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7), python, quilt
Build-Depends-Indep: python-support, po-debconf
Standards-Version: 3.8.3
Homepage: http://wicd.sourceforge.net/
Vcs-Browser: http://git.debian.org/?p=collab-maint/wicd.git
Vcs-Git: git://git.debian.org/collab-maint/wicd.git

Package: wicd
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-gtk2,
 python-urwid,
 python-dbus,
 dbus,
 wpasupplicant,
 python-glade2,
 wireless-tools,
 dhcpcd | dhcp3-client | pump | udhcpc,
 net-tools | ethtool,
 net-tools | iproute,
 adduser,
 lsb-base (>= 3.2-13),
 psmisc,
 iputils-ping | inetutils-ping
Recommends: gksu | kdesu | ktsuss | sudo,
 python-notify
Suggests: pm-utils
Description: wired and wireless network manager
 Wicd is a general-purpose network configuration server which aims
 to provide a simple but flexible interface for connecting to networks.
 Its features include:
 wide variety of settings.
  * ability to connect to (and maintain profiles for) both wired and
    wireless networks;
  * support for many encryption schemes, including WEP, WPA, WPA2 and
    custom schemes;
  * wireless-tools compatibility;
  * tray icon showing network activity and signal strength;
  * lack of GNOME dependencies (although it does require GTK+), making it
    easy to use in Xfce, Fluxbox, Openbox, Enlightenment, etc.
