#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/quilt/quilt.make

build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh build --before dh_auto_configure
	python setup.py configure --no-install-docs --lib=/usr/share/wicd
	python setup.py build
	dh build --after dh_auto_build
	touch $@

clean: unpatch
	dh clean --before dh_auto_clean
	python setup.py clean
	dh clean --after dh_auto_clean
	
	find . \( -name "*.pyc" -o -name "*.pyo" \) -delete
	find ./init/ \( -name "wicd" -o -name "rc.wicd" \) -delete
	-rm -rf build/

	dh_clean wpath.py install.log os wicd/wpath.py \
		man/*.8 man/*.5 scripts/* other/*.sh \
		other/postinst

install: build
	dh install --before dh_auto_install
	python setup.py install --root=$(CURDIR)/debian/wicd
	install -m644 debian/wicd-client.xpm \
		$(CURDIR)/debian/wicd/usr/share/pixmaps/wicd.xpm
	
	find $(CURDIR)/debian/wicd -name "*.png" -exec chmod 644 {} \;
	find $(CURDIR)/debian/wicd/etc/wicd/ -type f -exec chmod 644 {} \;
	find $(CURDIR)/debian/wicd \( -name "*.glade" -o -name "*.conf" -o -name "*.desktop" \) -exec chmod 644 {} \;
	rm -rf $(CURDIR)/debian/wicd/usr/lib/python*/
	dh install --after dh_auto_install

binary-arch: build install
	dh binary-arch

binary-indep: build install
	dh binary-indep

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
