#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_configure:
	python setup.py configure \
		--no-install-acpi \
		--no-install-docs \
		--lib=/usr/share/wicd \
		--share=/usr/share/wicd \
		--wicdgroup=netdev \
		--loggroup=adm \
		--logperms=0640

override_dh_auto_clean:
	dh_auto_clean
	@find . \( -name "*.pyc" -o -name "*.pyo" \) -delete
	@find init/ \( -name "wicd" -o -name "rc.wicd" \) -delete
	-rm -rf build/

	dh_clean wpath.py install.log os wicd/wpath.py \
		man/*.8 man/*.5 scripts/* other/*.sh \
		other/postinst other/55wicd debian/wicd-po/*.mo \
		other/91wicd other/wicd.conf other/WHEREAREMYFILES

override_dh_auto_install:
	python setup.py install --root=$(CURDIR)/debian/tmp
	install -m644 debian/wicd-client.xpm \
		$(CURDIR)/debian/tmp/usr/share/pixmaps/wicd-gtk.xpm
	
	find $(CURDIR)/debian/tmp -name "*.png" -exec chmod 644 {} \;
	find $(CURDIR)/debian/tmp/etc/wicd/ -type f -exec chmod 644 {} \;
	find $(CURDIR)/debian/tmp \( -name "*.glade" -o -name "*.conf" -o -name "*.desktop" \) -exec chmod 644 {} \;
	-rm -rf $(CURDIR)/debian/tmp/var/run

override_dh_install:
	dh_install
	# strip everything from "wicd" package that is not-daemon-related
	find $(CURDIR)/debian/wicd-daemon \( -name "*curses*" -o -name "*gui*" -o -name "*.glade" \) -delete
	-for file in wicd-client.py wicd/netentry.py wicd/prefs.py; \
	    do rm -rf $(CURDIR)/debian/wicd-daemon/usr/share/wicd/$$file*; \
	done

override_dh_installinit:
	dh_pysupport -i
	dh_installinit -i --name=wicd

%:
	dh --with quilt $@
